 <div ng-controller="productController" ng-init="getProducts()">
 <table class="table">
            <thead>
                <th>Product Details</th>
                <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td></td>
                </tr>
            </thead>
            <tbody>
                 <tr ng-repeat="product in products" ng-include="getTemplate(product)">
                        <td>{{product.ProductName}}</td>
                        <td>{{product.Description}}</td>
                        <td>{{product.Price}}</td> 
                         <td><input type="button" class="btn btn-primary" value="Edit" ng-click="editProduct(product)"/></td>
                        <td><input type="button" class="btn btn-btn btn-danger" value="Delete" ng-click="editProduct(product)"/></td>
           </tr>
           <!--<tr ng-repeat="product in products track by _id" ng-include="getTemplate(product)">
            </tr>-->
            </tbody>
      </table>
                       <script type="text/ng-template" id="display">
                        <td>{{product.ProductName}}</td>
                        <td>{{product.Description}}</td>
                        <td>{{product.Price}}</td> 
                        <td><input type="button" class="btn btn-primary" value="Edit" ng-click="editProduct(product)"/></td>
                    </script>
                    <script type="text/ng-template" id="edit">
                    <td><input type="text" ng-model=product.ProductName class="form-control input-sm"/></td>  
                    <td><input type="text" ng-model=product.Description class="form-control input-sm"/></td>  
                    <td><input type="number" ng-model=product.Price class="form-control input-sm"/></td>  
                    <td> <input type="button" class="btn btn-primary" value="Save" ng-click="updateProduct(product)"/>
                        <input type="button" class="btn btn-danger" value="Cancel" ng-click="reset()"/> 
                    </td>  
                    </script>
 </div>



